body {
  font: 300 36px "Helvetica Neue";
  height: 800px;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  width: 900px;
  background-color: #efefef;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #0085A1;
}

h2 {
  font-size: 24px;
  position: absolute;
  margin: 0;
  font-weight: inherit;
}

.hide {
    display: none;
}

path.arc {
  cursor: move;
  fill: #efefef;
}

.node {
  font-size: 12px;
}

.node:hover {
  fill: #1f77b4;
}

.link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
